:root > * {
    --md-primary-fg-color:        #F0324C;
    --md-primary-fg-color--light: #f06b87;
    --md-primary-fg-color--dark:  #cc133b;
  }

  [data-md-color-scheme="slate"] {
    --md-code-bg-color: hsla(200, 10%, 5%, 1); 
  }